@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1767927402918') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-buganxingqu:before {
  content: "\e8ad";
}

.icon-chuangzuo:before {
  content: "\e8ae";
}

.icon-chenggong:before {
  content: "\e8af";
}

.icon-dingdan:before {
  content: "\e8b0";
}

.icon-gengduo:before {
  content: "\e8b1";
}

.icon-gongyi:before {
  content: "\e8b2";
}

.icon-fuzhi:before {
  content: "\e8b3";
}

.icon-fenxiang:before {
  content: "\e8b4";
}

.icon-jianshao:before {
  content: "\e8b5";
}

.icon-huati:before {
  content: "\e8b6";
}

.icon-guanzhu:before {
  content: "\e8b7";
}

.icon-nan:before {
  content: "\e8b8";
}

.icon-nv:before {
  content: "\e8b9";
}

.icon-paihangbang:before {
  content: "\e8ba";
}

.icon-shaixuan:before {
  content: "\e8bb";
}

.icon-shanchu:before {
  content: "\e8bc";
}

.icon-shezhi:before {
  content: "\e8bd";
}

.icon-shangchuan:before {
  content: "\e8be";
}

.icon-shibai:before {
  content: "\e8bf";
}

.icon-shoucang:before {
  content: "\e8c0";
}

.icon-shouye:before {
  content: "\e8c1";
}

.icon-shuaxin:before {
  content: "\e8c2";
}

.icon-sousuo:before {
  content: "\e8c3";
}

.icon-tanhao:before {
  content: "\e8c4";
}

.icon-tishi:before {
  content: "\e8c5";
}

.icon-weixuanzhong:before {
  content: "\e8c6";
}

.icon-wodeguanzhu:before {
  content: "\e8c7";
}

.icon-xiangkan:before {
  content: "\e8c8";
}

.icon-yixiangkan:before {
  content: "\e8c9";
}

.icon-zengjia:before {
  content: "\e8ca";
}

.icon-aixin1:before {
  content: "\e8cb";
}

.icon-chenggong1:before {
  content: "\e8cc";
}

.icon-jianshao1:before {
  content: "\e8cd";
}

.icon-pinglun:before {
  content: "\e8ce";
}

.icon-shibai1:before {
  content: "\e8cf";
}

.icon-shijian:before {
  content: "\e8d0";
}

.icon-shouye1:before {
  content: "\e8d1";
}

.icon-tanhao1:before {
  content: "\e8d2";
}

.icon-shoucang1:before {
  content: "\e8d3";
}

.icon-shuju:before {
  content: "\e8d4";
}

.icon-yanjing:before {
  content: "\e8d5";
}

.icon-zengjia1:before {
  content: "\e8d6";
}

.icon-chuangzuo1:before {
  content: "\e8d7";
}

